/* Colours */
/* Dimensions */
/* Pre-defined break points */
/* Shadows */
/* Use breakpoints map to apply additional media-query properties */
body {
  font-family: "EB Garamond";
}

.type--centred {
  text-align: center;
}

.section-heading {
  font-family: inherit;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 12%;
  text-align: center;
}

.section-heading.is-primary {
  color: #5bc1b8;
}

.section-heading.is-secondary {
  color: #a88457;
}

.section-heading.is-white {
  color: #fff;
}

.section-heading.no-margin {
  margin: 0;
}

.type--xl {
  font-size: 32px;
}

@media screen and (min-width: 576px) {
  .type--xl {
    font-size: 48px;
  }
}

.ff {
  font-size: 22px;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .ff {
    font-size: 24px;
  }
}

.section {
  background-color: #f1f1f1;
}

.section.is-dark {
  background-color: #1d1d1d;
}

.section.is-light {
  background-color: #f7f7f7;
}

.section.is-primary {
  background-color: #5bc1b8;
}

.section-wrapper {
  padding: 16% 0;
}

.narrow {
  margin: 0 auto;
  max-width: 620px;
}

.ff-banner {
  background-image: url("/assets/download.jpg");
  background-position: 70% 60%;
  background-size: cover;
}

.ff-full-image {
  height: 85vh;
  width: 100%;
}

.ff-full-image.is-interior {
  background-image: url("/assets/30908699181_9765f90412_o.jpg");
  background-position: 70% 40%;
  background-size: cover;
}

.banner-heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-container.push-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "EB Garamond";
  font-style: italic;
  max-width: 320px;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.button.is-primary {
  background-color: #5bc1b8;
  color: #000;
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border: 2px solid currentColor;
  color: #5bc1b8;
}

.button.is-dark {
  background-color: #1d1d1d;
  color: #fff;
}

.button.is-dark.is-outlined {
  background-color: transparent;
  border: 2px solid currentColor;
  color: #1d1d1d;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aspect-ratio-box {
  background: white;
}

.aspect-ratio-box.is-90:before {
  padding-top: 90%;
}

.aspect-ratio-box:before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
}

.aspect-ratio-box:after {
  content: "";
  display: table;
  clear: both;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Overpass";
}

.form ::-webkit-input-placeholder {
  color: inherit !important;
}

.form :-ms-input-placeholder {
  color: inherit !important;
}

.form ::-ms-input-placeholder {
  color: inherit !important;
}

.form ::placeholder {
  color: inherit !important;
}

.form-field {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .form-field.is-narrow {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.input-field {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  margin: 0 1rem;
  padding: 0.25em 0;
  width: calc(100% - 2rem);
}

.ff-intro {
  color: #848484;
}

.intro-body {
  position: relative;
}

.intro-body:before {
  background-image: url("/assets/propeller.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 56px;
  left: 50%;
  margin: -5% 0 5%;
  position: relative;
  top: -1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 56px;
}

.ff-overview {
  color: #848484;
}

.overview {
  padding: 16% 0;
  position: relative;
}

.overview:not(:last-child):after {
  background-color: #979797;
  bottom: 0;
  content: "";
  height: 1px;
  left: 20%;
  position: absolute;
  width: 60%;
}

.overview:first-of-type {
  padding-top: 0;
}

.overview:last-of-type {
  padding-bottom: 0;
}

.overview-heading {
  color: #a88457;
  font-family: inherit;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3rem;
  text-align: center;
}

.ff-map {
  color: #adadad;
}

#map-radius {
  background: #f1f1f1;
  height: 90vmin;
  margin-top: 12%;
  width: 100%;
}

/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: transparent;
  padding: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}

/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

.ff-share {
  color: #c0c0c0;
}

.share-cta {
  padding-top: 12%;
}

.ff-benefits {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1d1d1d), color-stop(50%, transparent));
  background-image: linear-gradient(to bottom, #1d1d1d 50%, transparent 50%);
  background-size: 100%;
}

.ff-benefits .section-wrapper {
  padding-top: 0;
}

.benefits {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  color: #848484;
  margin: 0 1rem;
}

.benefits-heading {
  background-color: #a88457;
  color: #fff;
  padding: 1.25em;
}

.benefit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Overpass";
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  .benefit-list {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .benefit-list {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .benefit-list {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .benefit-list {
    font-size: 24px;
  }
}

.benefit-item {
  border-style: solid;
  border-width: 0 0 5px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

@media screen and (min-width: 576px) {
  .benefit-item {
    border-width: 0 0 7px 0;
  }
}

@media screen and (min-width: 768px) {
  .benefit-item {
    border-width: 0 0 9px 0;
  }
}

@media screen and (min-width: 992px) {
  .benefit-item {
    border-width: 0 0 12px 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefit-item {
    border-width: 0 0 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .benefit-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}

.benefit-item:nth-of-type(1) {
  border-color: #a88457;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.benefit-item:nth-of-type(2) {
  border-color: #5bc1b8;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(2) {
    border-color: #a88457;
  }
}

.benefit-item:nth-of-type(2) .benefit-item__image {
  background-image: url(/assets/30977309185_1b6682f5.jpg);
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(2) .benefit-item__image {
    background-image: url("/assets/nicolas-jossi-635851.jpg");
  }
}

.benefit-item:nth-of-type(3) {
  border-color: #5bc1b8;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.benefit-item:nth-of-type(3) .benefit-item__image {
  background-image: url(/assets/nicolas-jossi-635851.jpg);
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(3) .benefit-item__image {
    background-image: url("/assets/30886561932_f3492068.jpg");
  }
}

.benefit-item:nth-of-type(4) {
  border-color: #a88457;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(4) {
    border-color: #5bc1b8;
  }
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(4) .benefit-item__image {
    background-image: url("/assets/EXPH-0404-352.jpg");
  }
}

.benefit-item:nth-of-type(5) {
  border-color: #a88457;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.benefit-item:nth-of-type(6) {
  border-color: #a88457;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(6) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

.benefit-item:nth-of-type(6) .benefit-item__image {
  background-image: url("/assets/30886561932_f3492068.jpg");
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(6) .benefit-item__image {
    background-image: url("/assets/EXPH-0404-352.jpg");
  }
}

.benefit-item:nth-of-type(7) {
  border-color: #a88457;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(7) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.benefit-item:nth-of-type(7) .benefit-item__image {
  background-image: url("/assets/EXPH-0404-352.jpg");
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(7) .benefit-item__image {
    background-image: url("/assets/30977309185_1b6682f5.jpg");
  }
}

.benefit-item:nth-of-type(8) {
  border-color: #5bc1b8;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.benefit-item:nth-of-type(9) {
  border-color: #5bc1b8;
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(9) {
    border-color: #a88457;
  }
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(9) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(9) .benefit-item__image {
    background-image: url("/assets/LHP_2685.jpg");
  }
}

.benefit-item:nth-of-type(10) {
  border-color: #a88457;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

@media screen and (min-width: 768px) {
  .benefit-item:nth-of-type(10) {
    display: none;
  }
}

.benefit-item:nth-of-type(10) .benefit-item__image {
  background-image: url("/assets/jean-gerber-546269-u.jpg");
}

.benefit-item__body {
  display: inline-block;
  max-width: 12em;
  padding: 1rem;
}

.benefit-item__image {
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.benefit-item__image.is-half {
  top: 50%;
}

.ff-qualities {
  color: #9e9e9e;
}

@media screen and (min-width: 992px) {
  .qualities {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 992px) {
  .qualities > .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -3rem;
    width: calc(100% + 6rem);
  }
}

@media screen and (min-width: 992px) {
  .quality {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    margin: 3rem 0;
    position: relative;
  }
  .quality:not(:last-child):after {
    background-color: rgba(151, 151, 151, 0.36);
    bottom: 0.25rem;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0.25rem;
    width: 1px;
  }
}

.quality-content {
  margin: 0 3rem;
}

.quality-heading {
  color: #a88457;
  font-family: inherit;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 3rem;
  text-align: center;
}

.quality-body {
  font-family: "Overpass";
  font-size: 18px;
  margin: 0 auto;
  max-width: 30em;
}

.qualities .swiper-pagination {
  bottom: 0;
  padding: 1rem 0 0;
  position: relative;
}

@media screen and (min-width: 992px) {
  .qualities .swiper-pagination {
    display: none;
  }
}

.qualities .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #979797;
  background-color: transparent;
  height: 10px;
  margin: 0 5px;
  width: 10px;
}

.qualities .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #a88457;
}

/* Use breakpoints map to apply additional media-query properties */
.chopper-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.chopper-types:before {
  background-image: url("/assets/propeller.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 56px;
  left: 50%;
  margin: -2% 0 8%;
  position: relative;
  top: -1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 56px;
}

.chopper-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  font-family: "Overpass";
  font-size: 11px;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .chopper-type {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .chopper-type {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .chopper-type {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .chopper-type {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .chopper-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

.chopper-type__container {
  -webkit-box-shadow: 0 0.125rem 1.5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 0.125rem 1.5rem rgba(0, 0, 0, 0.06);
  height: 100%;
  margin: 0 4%;
}

.chopper-type__header {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 576px) {
  .chopper-type__header {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .chopper-type__header {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .chopper-type__header {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .chopper-type__header {
    font-size: 24px;
  }
}

.chopper-type__header-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a88457;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 56px;
  padding: 1.25em 0.5em;
}

.chopper-type__header-subtitle {
  background-color: rgba(60, 60, 60, 0.13);
  color: #fff;
  display: block;
  font-family: "EB Garamond";
  padding: 0.5em;
  width: 100%;
}

.chopper-type__models {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom: 3px solid #a8e8df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
  padding: 1rem 2rem;
}

@media screen and (min-width: 576px) {
  .chopper-type__models {
    height: 95px;
  }
}

@media screen and (min-width: 768px) {
  .chopper-type__models {
    height: 105px;
  }
}

@media screen and (min-width: 992px) {
  .chopper-type__models {
    height: 115px;
  }
}

@media screen and (min-width: 1200px) {
  .chopper-type__models {
    height: 135px;
  }
}

.chopper-type__models li {
  display: inline;
}

.chopper-type__models li:not(:last-child):after {
  content: ",\00a0";
  display: inline;
}

.chopper-type__model-list {
  max-width: 10em;
}

.chopper-type__stats {
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chopper-type__stat {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0;
  padding: 1.5em 0;
}

.chopper-type__stat.is-speed {
  border-right: 1px solid #dcdcdc;
}

.chopper-type__stat.is-capacity {
  color: #5bc1b8;
}

.chopper-type__points {
  color: #a88457;
  margin: 0;
  padding: 2em 1em;
}

.chopper-type__price {
  background-color: #fff;
  border-bottom: 3px solid #a8e8df;
  margin: 0;
  padding: 1em 0.5em;
}

@media screen and (min-width: 576px) {
  .chopper-type__price {
    padding-top: 1.25em;
  }
}

@media screen and (min-width: 992px) {
  .chopper-type__price {
    padding-top: 1.5em;
  }
}

@media screen and (min-width: 576px) {
  .chopper-type__price {
    padding-bottom: 1.25em;
  }
}

@media screen and (min-width: 992px) {
  .chopper-type__price {
    padding-bottom: 1.5em;
  }
}
/*# sourceMappingURL=index.css.map */