@import "../global/mixins";

.chopper-types {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	&:before {
		background-image: url("/assets/propeller.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: block;
		flex: 1 0 100%;
		height: 56px;
		left: 50%;
		margin: -2% 0 8%;
		position: relative;
		top: -1rem;
		transform: translateX(-50%);
		width: 56px;
	}
}

.chopper-type {
	flex: 1 0 50%;
	font-family: "Overpass";
	font-size: 11px;
	line-height: 1;
	margin-bottom: 2rem;
	text-align: center;
	$font-sizes: 13px, 14px, 16px, 18px;
	$flex-width: null, 1 1 25%, null, null;
	@include apply_breakpoints_to($font-sizes, font-size);
	@include apply_breakpoints_to($flex-width, flex);

	&__container {
		@include small-shadow;
		height: 100%;
		margin: 0 4%;
	}

	&__header {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		margin: 0;
		$font-sizes: 16px, 18px, 20px, 24px;
		@include apply_breakpoints_to($font-sizes, font-size);
		&-title {
			align-items: center;
			background-color: $coffee;
			display: flex;
			justify-content: center;
			min-height: 56px;
			padding: 1.25em 0.5em;
		}
		&-subtitle {
			background-color: rgba(#3c3c3c, 0.13);
			color: #fff;
			display: block;
			font-family: "EB Garamond";
			padding: 0.5em;
			width: 100%;
		}
	}

	&__models {
		align-items: center;
		background-color: #fff;
		border-bottom: 3px solid $teal--light;
		display: flex;
		flex-wrap: wrap;
		height: 75px;
		justify-content: center;
		line-height: 1.2;
		padding: 1rem 2rem;
		$height: 95px, 105px, 115px, 135px;
		@include apply_breakpoints_to($height, height);
		li {
			display: inline;
			&:not(:last-child):after {
				content: ",\00a0";
				display: inline;
			}
		}
	}

	&__model-list {
		max-width: 10em;
	}

	&__stats {
		border-bottom: 1px solid #dcdcdc;
		display: flex;
		flex-direction: row;
	}

	&__stat {
		flex: 0 0 50%;
		margin: 0;
		padding: 1.5em 0;
		&.is-speed {
			border-right: 1px solid #dcdcdc;
		}
		&.is-capacity {
			color: $teal;
		}
	}

	&__points {
		color: $coffee;
		margin: 0;
		padding: 2em 1em;
	}

	&__price {
		background-color: #fff;
		border-bottom: 3px solid $teal--light;
		margin: 0;
		padding: 1em 0.5em;
		$padding: 1.25em, null, 1.5em, null;
		@include apply_breakpoints_to($padding, padding-top);
		@include apply_breakpoints_to($padding, padding-bottom);
	}
}
